<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>todo list</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
    <div id = 'app'>
      <h1>ToDo List</h1>
      <table>
        <tr>
          <th>todo</th>
          <th></th>
          <th></th>
        </tr>
        <tr v-for='(todo, index) in todos'>
          <span class='todo'>
            <td v-if='!todo.editFlag'>{{todo.task}}</td>
            <td v-else><input v-model='todo.task' v-on:blur='saveEdit(index)'></td>
            <td>
              <button v-on:click='isEditFlag(index, true)'>
                編集
              </button>
            </td>
            <td>
              <button v-on:click='removeTodo(index)'>
                削除
              </button>
            </td>
          </span>
        </tr> 
      </table>
      <p>
        <input v-model='newTodo'>
        <button v-on:click='addTodo'>追加</button>
      </p>
    </div>
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          todos: [],
          newTodo: null
        },
        mounted() {
          if (localStorage.getItem('todos')) {
            this.todos = JSON.parse(localStorage.getItem(todos))
          }
        },
        methods: {
          removeTodo(index) {
            this.todos.splice(index, 1)
            this.saveTodos()
          },
          addTodo() {
            if (!this.newTodo) {
              return
            }
            const todo = {task: this.newTodo, editFlag: false}
            this.todos.push(todo)
            this.newTodo = ''
            this.saveTodos()
          },
          saveEdit(index) {
            this.isEditFlag(index, false)
            this.saveTodos
          },
          saveTodos() {
            const parsed = JSON.stringify(this.todos)
            localStorage.setItem('todos', parsed)
          },
          isEditFlag(index, bool) {
            this.todos[index].editFlag = bool
          }
        }
      })
    </script>
	</body>
</html>